body {
    margin:auto;
    width:1024px;
    padding:10px;
    background-color:#ebebeb;
    font-size:14px;
    font-family:Verdana;
}

button {
    background: #132743;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5%;
    margin: 10px;
}

.input-add-tech[type=text]:focus {
    margin: 20px;
    border: 2px solid rgb(59, 37, 37);
    border-radius: 5px;
    box-sizing: border-box;
}